mixin video(videos)
    div 
        h4
            a(href=`/videos/${videos.id}`)=videos.title
        ul 
            li #{videos.rating}/5.
            li #{videos.comments} comments.
            li Posted #{videos.createdAt}.
            li #{videos.views} views.